<div class="pilotos-container">
    <h3 class="seccion-titulo">PILOTS</h3>
    <div class="cards-row">
        @if (pilotos$ | async; as pilots) {
            @for (pilot of pilots; track pilot) {
                <div class="card-item">
                    <img [src]="cargarFotos(pilot.url)" alt="{{ pilot.name }}" (error)="onImageError($event)">
                    <p>{{ pilot.name }}</p>
                </div>
            }
        } @else {
            <p class="cargando">Cargando pilotos...</p>
        }
    </div>
</div>
