body {
    overflow: hidden;
}

@keyframes slide-up {
    from {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.register-container {
    max-width: 240px;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 55%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #414141;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 2px #414141;
    z-index: 1; 
    animation: slide-up 0.5s ease-out;
}

.campo {
  background-color: #ffffff;
}

.register-container h2 {
  text-align: center;
}

.register-container div {
  margin-bottom: 1rem;
  max-width: 400px;
}

.register-container label {
  display: block;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.register-container input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  color: #000000;
}

.register-container small {
  color: red;
}

.colorLog {
    color: rgb(161, 161, 161); 
}

.register-container button {
    display: block;
    margin-left: auto;
    padding: 8px 20px;
    background-color: #5181b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 1.5;
    box-shadow: 0 1px #3b5998; 
    transition: all 0.2s ease;
}

