<div class="peliculas-container">
    <h3 class="seccion-titulo">FILMS</h3>
    <div class="cards-row">
        @if(dataPeliculas$ | async; as dataPeliculas) {
            @for(peli of dataPeliculas; track peli) {
                <div class="card-item">
                    <img [src]="getImagenUrl(peli.body.url)" alt="{{ peli.body.title }}" (error)="onImageError($event)">
                    <p>{{ peli.body.title }}</p>
                </div>
            }
        } @else {
            <p class="cargando">Cargando películas...</p>
        }
    </div>
</div>
