.body {
    padding-top: 7rem;
}

@keyframes slide-up {
    from {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.login-container {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #414141;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 2px #414141;
    z-index: 1; 
    animation: slide-up 0.5s ease-out; 
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container .form-group {
    margin-bottom: 15px;
}

.login-container .form-group label {
    display: flex;
    margin-bottom: 5px;
}

.login-container .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-group button {
    flex: 1;
    margin: 0 5px; 
    padding: 8px 20px;
    background-color: #5181b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 1.5;
    box-shadow: 0 1px #3b5998; 
    transition: all 0.2s ease;
}

.button-group button:first-child {
    margin-left: 0; /* Eliminar margen izquierdo del primer botón */
}

.button-group button:last-child {
    margin-right: 0; /* Eliminar margen derecho del último botón */
}

.login-container button:active {
    box-shadow: 0 2px #3b5998; 
    transform: translateY(2px); 
}

.campo {
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
}

.colorLog {
    color: rgb(161, 161, 161); 
}