<app-header [estoyLogueado]="estoyLogueado"></app-header>

<div id="board">
    <div id="content" class="animacion">
        <p id="title">Episodie I</p>
        <p id="subtitle">THE PHANTOM MENACE</p>

        <br>

        <p>The Galactic Republic is
            plunged into chaos. The
            route taxes
            commercial to systems
            outer stars are in
            quarrel.

            In the Galactic Senate.
            restlessness reigns. Several
            thousands of solar systems
            have declared their intention
            to leave the Republic.

            This separatist movement,
            led by the mysterious
            Count Dooku, you have caused
            that to the limited number of
            Jedi Knights find it
            difficult to maintain peace and
            order in the galaxy.

            Senator Amidala, the
            former queen of Naboo,
            returns to the Galactic Senate
            to give your vote in the criticism
            matter of creating a
            ARMY OF THE REPUBLIC
            to help the overwhelmed
            Jedi....

            While the Congress of the
            Republic debate
            endlessly this
            alarming chain of
            events, the Chancellor
            Supreme has secretly sent
            to two Jedi Knights,
            guardians of peace and justice
            in the galaxy, to solve the
            conflict....


            <br>
            Login or register to acces all
            the content...
            <br>

            The Galactic Republic is
            plunged into chaos. The
            route taxes
            commercial to systems
            outer stars are in
            quarrel.

            In the Galactic Senate.
            restlessness reigns. Several
            thousands of solar systems
            have declared their intention
            to leave the Republic.

            This separatist movement,
            led by the mysterious
            Count Dooku, you have caused
            that to the limited number of
            Jedi Knights find it
            difficult to maintain peace and
            order in the galaxy.

            Senator Amidala, the
            former queen of Naboo,
            returns to the Galactic Senate
            to give your vote in the criticism
            matter of creating a
            ARMY OF THE REPUBLIC
            to help the overwhelmed
            Jedi....

            While the Congress of the
            Republic debate
            endlessly this
            alarming chain of
            events, the Chancellor
            Supreme has secretly sent
            to two Jedi Knights,
            guardians of peace and justice
            in the galaxy, to solve the
            conflict....


            <br>
            Login or register to acces all
            the content...
            <br>

            The Galactic Republic is
            plunged into chaos. The
            route taxes commercial to systems
            outer stars are in
            quarrel.

            In the Galactic Senate.
            restlessness reigns. Several
            thousands of solar systems
            have declared their intention
            to leave the Republic.

            This separatist movement,
            led by the mysterious
            Count Dooku, you have caused
            that to the limited number of
            Jedi Knights find it
            difficult to maintain peace and
            order in the galaxy.

            Senator Amidala, the
            former queen of Naboo,
            returns to the Galactic Senate
            to give your vote in the criticism
            matter of creating a
            ARMY OF THE REPUBLIC
            to help the overwhelmed
            Jedi....

            While the Congress of the
            Republic debate
            endlessly this
            alarming chain of
            events, the Chancellor
            Supreme has secretly sent
            to two Jedi Knights,
            guardians of peace and justice
            in the galaxy, to solve the
            conflict....
        </p>
    </div>
    <div id="stars-container"></div>
</div>