<app-header></app-header>
<div class="star-field"></div>
<section class="i ntro" pt-5>
    A long time ago, in a galaxy far,<br> far away....
</section>

<div id="board">
    <div id="content">
        <p id="title">Episodio I</p>
        <p id="subtitle">LA AMENAZA FANTASMA</p>
        <br>

        <p>La República Galáctica está
            sumida en el caos. Los
            impuestos de las rutas
            comerciales a los sistemas
            estelares exteriores están en
            disputa.

            En el Senado Galáctico.
            reina la inquietud. Varios
            miles de sistemas solares
            han declarado su intención
            de abandonar la República.

            Este movimiento separatista,
            liderado por el misterioso
            Conde Dooku, ha provocado
            que al limitado número de
            Caballeros Jedi les resulte
            difícil mantener la paz y el
            orden en la galaxia.

            La senadora Amidala, la
            antigua reina de Naboo,
            regresa al Senado Galáctico
            para dar su voto en la crítica
            cuestión de crear un
            EJÉRCITO DE LA REPÚBLICA
            que ayude a los desbordados
            Jedi....

            Mientras el Congreso de la
            República debate
            interminablemente esta
            alarmante cadena de
            acontecimientos, el Canciller
            Supremo ha enviado en secreto
            a dos Caballeros Jedi,
            guardianes de la paz y la justicia
            en la galaxia, para resolver el
            conflicto....

        </p>
    </div>
</div>