body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden !important; 
}

.animacion {
  background-color: transparent;
}

.star-field {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden !important;
}

#stars-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; 
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
}

#board {
    position: relative;
    z-index: 1000;    
    text-align: center;
    padding: 20px;
    width: 100%; 
    box-sizing: border-box;
    font-size: 500%; 
}

.intro {
    position: relative;
    animation: intro 6s ease-out 3s; 
    background-color: transparent;
    color: yellow;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
    opacity: 0;
    width: 60%;

}

body {
  margin: 0;
  background-color: black;
}


.intro {
    position: absolute;
    top: 30%;
    left: 35%;
    z-index: 1;
    animation: intro 6s ease-out 1s;
    color: rgb(75, 213, 238);
    font-weight: 500;
    font-size: 500%;
    opacity: 0;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes logo {
    0% {
        width: 18em;        
        transform: scale(2.75);
        opacity: 1;
    }
    50% {
        opacity: 1;
        width: 18em;      
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
        width: 18em;
    }
}

p {
  color: #FFFF82;
}


#board {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(400px) rotateX(30deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 500%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
}

#board:after {    
  position: absolute;
  content: ' ';
  bottom: 100%;
  left: 0;
  right: 0;
  top: 0;
}


#content {
  animation: scroll 100s linear 2s;
  position: absolute;
  top: 100%;
  font-size: 4vw;
}

#title, #subtitle {
  text-align: center;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -300%;
    }
}

@media (max-width: 1024px) {
  #content {
    font-size: 3vw; /* Ajustar el tamaño del texto para pantallas medianas */
    animation: scrollMedium 100s linear 2s;
  }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  #content {
    font-size: 4vw; /* Ajustar el tamaño del texto para pantallas pequeñas */
    animation: scrollSmall 100s linear 2s;
  }
}

/* Animación de texto para pantallas grandes */
@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}

/* Animación de texto para pantallas medianas */
@keyframes scrollMedium {
  0% {
    top: 100%;
  }
  100% {
    top: -150%; /* Ajustar la posición final para pantallas medianas */
  }
}

/* Animación de texto para pantallas pequeñas */
@keyframes scrollSmall {
  0% {
    top: 100%;
  }
  100% {
    top: -200%; /* Ajustar la posición final para pantallas pequeñas */
  }
}