.register-container {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 15rem;

}

.register-container h2 {
  text-align: center;
}

.register-container div {
  margin-bottom: 1rem;
}

.register-container label {
  display: block;
  margin-bottom: 0.5rem;
}

.register-container input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.register-container small {
  color: red;
}

.register-container button {
  width: 100%;
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

label{
    color: #757575;
}