<div class="body header">
    <header>
        <div class="banner align-content-md-center">
            <img class="imageBanner" src="assets/sw_logo_stacked_2x-52b4f6d33087_7ef430af.png" />
            <div class="buttons">
                @if (!estoyLogueado) {
                <button class="info" (click)="navegarALogin()">Log in</button>
                <span class="separador">//</span>
                <button class="info" (click)="navegarASignUp()">Sign up</button>
                }
                @if (estoyLogueado) {
                <button class="info" (click)="logOut()">Log out</button>
                }
            </div>
        </div>
        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="starships">STARSHIPS</a>
                </li>
            </ul>
        </nav>
    </header>
</div>