<div class="body header">
    <header>
        <div class="banner align-content-md-center">
            <img class="imageBanner" src="assets\download.png" />
            <div class="buttons">
                <button class="info" (click)="navegarALogin()">Log in</button>
                <span class="separador">//</span>
                <button class="info">Sign in</button>
            </div>
        </div>
        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="starships">STARSHIPS</a>
                </li>
            </ul>
        </nav>
    </header>
</div>