<app-header [estoyLogueado]="estoyLogueado"></app-header>
<div class="background-overlay"></div>
<div class="background-lista-naves"></div>
@if (listaNaves) {
<div class="container align-middle">
    <div class="datos1" id="naves">
        <div class="card-container">
            @for (item of listaNaves; track {$index}) {
            <div class="card" (click)="getNaveSeleccionada(item)">
                <strong>{{item.name}}</strong>
                <span>{{item.model}}</span>
            </div>
            }
        </div>
    </div>
</div>
}